* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(244, 67, 54, 0.8);
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  overflow: hidden;
  top: 0;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

header .logo img {
  width: 80px;
  height: 80px;
}

header nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

header nav ul li {
  position: relative;
  text-transform: uppercase;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.5s ease;
}

header nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: width 0.5s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

header .search-bar input {
  border-radius: 30px;
  width: 250px;
  border: 1px solid #e0e0e0;
  padding: 8px;
}

header .header-button a {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .header-button a:hover {
  background-color: #555;
  transition: background-color 0.3s ease;
}

/*-------login popup-----------*/

/* .content {
  margin-top: 100px;
} */

.hero {
  margin: 0;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/header.jpg);
  background-size: cover;
  background-position: right center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.hero a {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero a:hover {
  background-color: #db322f;
}
.featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 50px;
}

.featured-products .product-card {
  background-color: #f9f9f9;
  padding: 1rem;
  border: #222222 1px solid;
  height: 400px;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-products .product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.featured-products .product-card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.featured-products .product-card p {
  margin: 0;
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.featured-products .product-card a {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.featured-products .product-card a:hover {
  background-color: #db322f;
}

.featured-products .product-card .add2cart {
  margin-right: 150px;
}

.featured-products .product-card i {
  background-color: #ffffff;
  color: red;
  padding: 0.5rem 1rem;
  border: #f44336 1px solid;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
}

.featured-products .product-card i:hover {
  background-color: #db322f;
  color: white;
}

.md-12 {
  font-size: 16px !important;
  justify-content: center;
}

.newsletter {
  display: flex;
  /* background-color: #686868; */
  color: white;
  width: 100%;
  height: 250px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* position: absolute; */
}

.newsletter .col {
  margin-left: 50px;
  /* flex: 1; */
  margin-right: 50px;
}

.newsletter h2 {
  font-size: 2rem;
  margin-right: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter form input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 20px;
  width: 300px;
}

.newsletter form button {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter form button:hover {
  background-color: #db322f;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: start;
  margin-bottom: 50px;
}

.product-card.large {
  grid-column: span 2;
  grid-row: span 2;
}

.product-card.small {
  grid-column: span 1;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card .product-image {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card.large .product-image {
  height: 500px;
}

.product-card.large {
  height: 630px;
}

.product-card h3 {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.product-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.rating {
  font-size: 1.2rem;
  display: inline-flex;
  gap: 5px;
  cursor: pointer;
  color: #cccccc;
}

.rating .star {
  transition: color 0.2s;
}

.rating .star:hover,
.rating .star:hover ~ .star {
  color: #ffa500;
}

.rating .star:hover ~ .star {
  color: #cccccc;
}

/* about shop */
.about-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px;
}

.about-shop h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
